* { margin: 0; padding: 0; box-sizing: border-box; }

html, body, #root {
  width: 1920px;
  height: 1080px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Tizen canvas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f4f6; /* subtle neutral background */
  color: #111827;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
